<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    test
    <div class="main-content">
        {{>header}}
        Powered by Dark Sky. <a href="https://darksky.net/poweredby/">https://darksky.net/poweredby/</a><br>
        Powered by ©<a href='https://www.mapbox.com/about/maps/'>Mapbox</a><br>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>